{{- $title := .Title | default site.Title -}}
{{- $description := .Description | default site.Params.description -}}
{{- $image := "/favicon.svg" | absURL -}}
{{- with .Params.image }}
  {{- $image = . | absURL -}}
{{- end }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:type" content="{{ if eq .Section "blog" }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ $image }}">
<meta property="og:site_name" content="{{ site.Title }}">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="preload" as="font" type="font/woff" href="{{ "fonts/solway-bold-webfont.woff" | relURL }}" crossorigin>
<link rel="preload" as="font" type="font/woff" href="{{ "fonts/radiocanada-webfont.woff" | relURL }}" crossorigin>
<link rel="stylesheet" href="{{ "css/site.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/chroma.css" | relURL }}">
